<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities Template</title>
</head>
<body>
    <a href="#" class="nav-link">Activities</a>
    <div class="dropdown">
      <div class="dropdown-item"><a href="#" class="dropdown-link">Events</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">Hisser of the Week</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">DTA</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">Monthly Prompts</a></div>
    </div>
</body>
</html>