<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Template</title>
</head>
<body>
    <div class="banner">
        <img src="Banner images/Smol cloud use.png" id="sky">
        <img src="Banner images/Mountain use.png" id="mountain-1">
        <img src="Banner images/Ground use.png" id="ground">
        <a href="index.html" class="logo-link">
            <img src="Banner images/Logo use.PNG" id="logo">
          </a>
          
        <img src="Banner images/Glacier use.svg" id="glacier">
    </div>
</body>
</html>