<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Template</title>
</head>
<body>
    <a href="#" class="nav-link">Explore</a>
    <div class="dropdown">
      <div class="dropdown-item"><a href="#" class="dropdown-link">Masterlist</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">News</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">F2U Bases</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">Currency Guide Calculator</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">Partnered Species</a></div>
    </div>    
</body>
</html>