<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Template</title>
</head>
<body>
    <a href="#" class="nav-link">Help</a>
    <div class="dropdown">
      <div class="dropdown-item" id="FAQ"><a href="faq.html" class="dropdown-link">FAQ</a></div>
      <div class="dropdown-item" id="Redesign Guide"><a href="#" class="dropdown-link">Redesign Guide</a></div>
      <div class="dropdown-item" id="Currency Guide"><a href="#" class="dropdown-link">Currency Guide</a></div>
      <div class="dropdown-item" id="TOS"><a href="#" class="dropdown-link">TOS</a></div>
      <div class="dropdown-item" id="Design Rules"><a href="#" class="dropdown-link">Design Rules</a></div>
      <div class="dropdown-item" id="Newcomer Guide"><a href="#" class="dropdown-link">Newcomer Guide</a></div>
    </div>
</body>
</html>