<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Template</title>
</head>
<body>
                      <a href="#" class="nav-link">Info</a>
                      <div class="dropdown">
                        <div class="dropdown-item" id="Anatomy-Basics"><a href="anatomy-basics.html" class="dropdown-link">Anatomy Basics</a></div>
                        <div class="dropdown-item" id="Trait-Sheet"><a href="#" class="dropdown-link">Trait Sheet</a></div>
                        <div class="dropdown-item" id="Mutation-Anatomy"><a href="#" class="dropdown-link">Mutation Anotomy</a></div>
                        <div class="dropdown-item" id="Add-On-Features"><a href="#" class="dropdown-link">Add-On Features</a></div>
                        <div class="dropdown-item" id="Get-on-the-Masterlist"><a href="#" class="dropdown-link">Get on the Masterlist</a></div>
                        <div class="dropdown-item" id="Lore"><a href="#" class="dropdown-link">Lore</a></div>
                      </div>
</body>
</html>