<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shops Template</title>
</head>
<body>
    <a href="#" class="nav-link">Shops</a>
    <div class="dropdown">
      <div class="dropdown-item"><a href="#" class="dropdown-link">Mutation Shop</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">MYO Nursery</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">Bank</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">Item Shop</a></div>
      <div class="dropdown-item"><a href="#" class="dropdown-link">Pet Store</a></div>
    </div>
</body>
</html>